<p>
    Here at Novask,the emotional wellbeing of our readers is our utmost priority. We use different rating scales to
    measure the "emotional wellness" of our patients.
</p>
<p>There are different rating scales we use:</p>


{{#each partials.ratingScaleContext}}
   <ul class='ratingScale'>
       <li>{{this}}</li>

   </ul>
{{/each}}

